nav {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 25px 25px;
}

#username {
    font-weight: 700;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:hover {
    color: rgb(255, 232, 29);
}

form > div {
    margin-right: 1rem;
}

form {
    padding-top: 1rem;
}


