{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <title>Articles</title>
        {% block style %}{% endblock style %}
        {% bootstrap_css %}
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
            * {
                font-family: 'Montserrat';  
            }
            body {
                min-height: 100vh;
                background: linear-gradient(-30deg, #0e65a0, #7983db);  
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>