{% load cache %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block style %}<link rel="stylesheet" href="{% static 'styles/nav.css' %}">{% endblock style %}
<nav class="navbar">
    <div class="container-fluid d-flex justify-content-center">
        <div class="navbar-header">
            <div class="d-flex justify-content-evenly m-2 navbar-left">
                <a class="mx-5 text-white text-decoration-none" href={% url 'home' %}>Projects</a>
                <a class="mx-5 text-white text-decoration-none" href={% url 'create_project' %}>Create</a>
            </div>
        </div>
    </div>
</nav>