{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}" />
{% endblock style %}
{% bootstrap_css %}
{% block content %}
<div class="d-flex justify-content-center p-4 rounded w-auto">
    <form class="w-50" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input id="input-form" type="submit" class="btn btn-light rounded my-4 w-25" value="Edit">
    </form>
</div>
{% endblock content %}